In [141]:
def func():
    pass
func()

In [142]:
# def filt(user_input,even_or_odd):
#     take_list = list(range(user_input+1))
#     output_list = []
#     if even_or_odd == "even":  
#         for i in take_list:
#             if i % 2 == 0:
#                 output_list.append(i)
#         print(output_list)
#     elif even_or_odd == "odd":
#         for  i in take_list:
#             if i % 2 != 0:
#                 output_list.append(i)
    
#         print(output_list)

#     else:
#         return "you have given wrong input"
                
 
# user_input = int(input("Please enter a number"))
# even_or_odd = input("even or odd?")
# filt(user_input,even_or_odd)

In [143]:
# def filt(even_or_odd):
#     take_list = list(range(1,50))
#     output_list =[]
#     if even_or_odd == "even":
#         for i in take_list:
#             if i % 2 == 0:
#                 output_list.append(i)
#         print(output_list)
#     elif even_or_odd == "odd":
#         for i in take_list:
#             if i %2 != 0:
#                 output_list.append(i)
#         print(output_list)  
#     else:
#         return "you have given wrong input"
    
# # user_input = int(input("Please enter a number"))
# even_or_odd = input("even or odd?")
# filt(even_or_odd)

In [144]:

take_list = [i for i in range(0,100)]
even =[]
odd =[]
for i in range (0,100):
  if i%2==0:
    even.append(i)
  else:
    odd.append(i)
print(even)
print(odd)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [145]:

take_list = [i for i in range(0,10)]
check_list =[2,4,6,8,10]
even= []
odd=[]
for i in range (0,10):
    if i in check_list:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)

[2, 4, 6, 8]
[0, 1, 3, 5, 7, 9]

In [146]:

username = input("your age :")
print("my age is: " + username)

username = input("enter the even number")
print("even number is:"+username)

username = input("enter the odd number")
print("even number is :"+username)

your age :7
my age is: 7
enter the even number7
even number is:7
enter the odd number7
even number is :7

In [147]:
take_list = [chr(i)  for i in range(65,91)]
check_list = ["A","E", "I","O","U"]
vowel =[]
consonent =[]
for i in take_list:
  if i in check_list:
     vowel.append(i)
  else :
    consonent.append(i)
print(vowel)
print(consonent)

['A', 'E', 'I', 'O', 'U']
['B', 'C', 'D', 'F', 'G', 'H', 'J', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'V', 'W', 'X', 'Y', 'Z']

In [148]:
take_list=[i for i in range(0,10)]
even=[]
odd=[]
for i in range (0,10):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [16]:
take_list =[i for i in range(0,25)]
even =[]
odd =[]
for i in range(0,20):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [149]:
def function(a,b):
   
    sum=a+b
    print(sum)
function(1,2)

3

In [150]:
# def filt (user_input,even_or_odd):
#     take_list =list(range(1,user_input+1))
#     output_list =[]
#     if even_or_odd =="even":
#         for i in take_list:
#             if i%2 == 0:
#                  output_list.append(i)
#         print(output_list)
#     elif even_or_odd =="odd":
#         for i in take_list:
#             if i%2 != 0:
#                  output_list.append(i)
#         print(output_list)
    
#     else:
#         return "you given wrong input"
    
# user_input = int(input("Please enter a number"))
# even_or_odd = input("even or odd?")
# filt(user_input,even_or_odd)

In [151]:
# def filt (user_input,even_or_odd):
#     take_list = list(range(1,user_input+1))
#     output_list= []
#     if even_or_odd =="even":
#         for i in take_list:
#             if i%2 == 0:
#                 output_list.append(i)
#     elif even_or_odd =="odd":
#         for i in take_list:
#             if i%2 != 0:
#                 output_list.append(i)
#     else:
#         return "you have wrong input"
# user_input= int(input("please enter the number"))
# even_or_odd = input("even or odd?")
# filt(user_input,even_or_odd)

In [152]:
for i in range(5):
    for j in range(0,i-1):
        print("*",end =' ')
    print()

*
* *
* * *

In [153]:
n = 5  
for i in range(n):
    for j in range (n-i-1):
        print(' ',end =' ')
    for k in range (1*i+1):
        print(' * ',end =' ')
    print()

         *
       *   *
     *   *   *
   *   *   *   *
 *   *   *   *   *

In [154]:
for row in range(0,5):
    for col in range(5,row-1):
        print(' ',end = ' ')
    for row in range(1*row+1):
        print('*',end = ' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [155]:
for row in range(0,5):
    for col in range(5,row-1):
        print('*',end =' ')
    for row in range(1*row+1):
        print(' *',end =' ')
    print()

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [156]:
def filt(rows_or_colums):
    for i in range(0,rows_or_colums):
        spaces = rows_or_colums-i
        for j in range(spaces):
            print(' ',end = ' ')
        for k in range (2*i+1):
            print('*',end = ' ')
        print()
rows_or_colums = int(input("rows or colums?"))
filt(rows_or_colums)

rows or colums?7
              *
            * * *
          * * * * *
        * * * * * * *
      * * * * * * * * *
    * * * * * * * * * * *
  * * * * * * * * * * * * *

In [157]:
for row in range(1,6):
    for col in range(0,row):
        print(row,end=" ")
    print("")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [158]:
def mirror_pattern(n):
    for row in range(1,n):
        space = n - row
        for col in range(space):
            print(" ",end=" ")
        for i in range(row):
            print("*",end=" ") 
        print("")
        
mirror_pattern(8)

              *
            * *
          * * *
        * * * *
      * * * * *
    * * * * * *
  * * * * * * *

In [159]:
for row in range(1,9):
    for col in range(0,row):
        print(row,end =" ")
    print("")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8

In [160]:
for row in range(0,10):
    for col in range(0,row):
        print(row,end = " ")
    print("")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [161]:
for row in range(1,5):
    for col in range(1,row):
        print(row,end = " ")
    print("")

2
3 3
4 4 4

In [24]:
for i in range(0,5):
    for j in range(0,i+1):
        print("*",end=" ")
    print("")

*
* *
* * *
* * * *
* * * * *

In [30]:
for i in range(0,5):
    for j in range(0,5-i):
        print("*",end="")
    print(" ")

*****
****
***
**
*

In [162]:
for row in range (0,5):
    for col in range(0,row):
        print("*",end=" ")
    print("")

*
* *
* * *
* * * *

In [163]:
for i in range(5):
    for j in range(0,i+1):
        print("*",end =" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [43]:
for i in range(0,5):
    for j in range(i,5):
        print(" ",end=" ")
    for k in range(0,i+1): 
        print("*",end=" ")
    print(" ")

          *
        * *
      * * *
    * * * *
  * * * * *

In [31]:
for i in range(0,5):
    for j in range(i,5):
        print(" ",end=" ")
    for k in range(0,i+1):
        print("*",end=" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [34]:
for i in range(0,5):
    for j in range(i,5):
        print(" ",end=" ")
    for k in range (0,i+1):
        print("*",end=" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [45]:
for i in range(0,5):
    for j in range(i,5):
        print(" ",end=" ")
    for k in range(0,i+1):
        print("*",end=" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [47]:
for i in range(0,5):
    for j in range(5-i):
        print("*",end=" ")
    print(" ")

* * * * *
* * * *
* * *
* *
*

In [165]:
for i in range(0,6):
    for j in range(0,i):
        if (j>=6-i):
            print("*",end="")
        else:
            print(" ",end="")
    print()

  **
 ****

In [166]:
for i in range(0,5):
    for j in range(0,5):
        if (j>=5-i):
            print(" ",end=" ")
        else:
            print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [167]:
for i in range(5):
    for j in range(i,5):
        print(' ',end=' ')
    for k in range(0,i+1):
        print("*",end=' ')
    for l in range(0,i):
        print('*',end=' ')
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [168]:
for i in range(5):
    for j in range(i,5):
        print(" ",end= " ")
    for k in range (0,i+1):
        print("*",end= " ")
    for l in range (0,i):
        print("*",end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [169]:
for i in range(5):
    for j in range(i,5):
        print(' ',end='')
    for k in range(i):
        print('*',end=' ')
    for l in range(i+1):
        print('*',end=" ")
    print()

     *
    * * *
   * * * * *
  * * * * * * *
 * * * * * * * * *

In [170]:
for i in range(5):
    for j in range(i,5):
        print(' ',end="")
    for k in range(i+1):
        print('*',end='')
    print()

     *
    **
   ***
  ****
 *****

In [171]:
for i in range (5):
    for j in range(i-5-1):
        print(' ',end=' ')
    for k in range(5-i+1):
        print("*",end=' ')
    print()

* * * * * *
* * * * *
* * * *
* * *
* *

In [172]:
for i in range(5):
    for j in range(0,i+1):
        print(' ',end='')
    for k in range(i,5-1):
        print('*',end='')
    print()

 ****
  ***
   **
    *

In [173]:
for row in range(0,5):
    for col in range(0,row):
        print(row,end='')
    print()

1
22
333
4444

In [174]:
for col in range(0,5):
    for row in range(0,col):
        print("*",end='')
    print()

*
**
***
****

In [175]:
for row in range(0,15):
    for col in range(0,row):
        print("*",end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * * *

In [176]:
for row in range(0,5):
    for row in range

SyntaxError: expected ':' (3137477117.py, line 2)

In [202]:
for i in range(1,9):
    for j in range(i):
        print(i,end="")
    print()

1
22
333
4444
55555
666666
7777777
88888888

In [203]:
for i in range(0,5):
    for j in range(0,i+1):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [204]:
for i in range(0,5):
    for j in range(0,5-i):
        print('*',end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [205]:
for i in range (0,5):
    for j in range (i,5):
        print("* ",end="")
    print()

* * * * *
* * * *
* * *
* *
*

In [206]:
for i in range(0,5):
    for j in range(0,5):
        if (j>=5-i):
            print(" ",end=" ")
        else:
            print(" *",end=" ")
    print()

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [207]:
for i in range (5):
    for j in range (i,5):
        print("1",end=" ")
    for k in range (i+1):
        print("*",end=" ")
    print()

1 1 1 1 1 *
1 1 1 1 * *
1 1 1 * * *
1 1 * * * *
1 * * * * *

In [208]:
for i in range (0,5):
    for j in range (5-i-1):
        print(" ",end=" ")
    for k in range (0,i+1):
        print("*",end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [209]:

for i in range (0,5):
    for j in range(0,i+1):
        print(' ',end=" ")
    for k in range (i,5):
        print("*",end=" ")
    
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [210]:
for i in range(0,5):
    for j in range(i,5):
        print("o",end= " ")
    for j in range (i+1):
        print("*",end= " ")
    for l in range (i):
        print("*",end=" ")
    print()

o o o o o *
o o o o * * *
o o o * * * * *
o o * * * * * * *
o * * * * * * * * *

In [53]:
for i in range(0,5):
    for j in range(i,5):
        print(" ",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    for l in range(i):
        print("*",end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [54]:
for i in range(0,5):
    for j in range(i,5):
        print(" ",end= " ")
    for j in range (i+1):
        print("*",end= " ")
    for l in range (i):
        print("*",end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [212]:
for i in range (0,5):
    for j in range (0,i+1):
        print(chr(65+j),end=" ")
    print()

A
A B
A B C
A B C D
A B C D E

In [50]:
for i in range(0,5):
    for j in range(0,i+1):
        print(chr(65+j),end=" ")
    print("")

A
A B
A B C
A B C D
A B C D E

In [57]:
for i in range (0,5):
    for j in range(0,i+1):
        print(chr(65+j),end=" ")
    print("")

A
A B
A B C
A B C D
A B C D E

In [213]:
for i in range (0,5):
    for j in range (i,5):
        print(" ",end=" ")
    for k in range (0,i+1):
        print(chr(65+k),end=" ")
    print()

          A
        A B
      A B C
    A B C D
  A B C D E

In [214]:
for i in range(0,5):
    for j in range(i,5):
        print(chr(65+j),end=" ")
    print()

A B C D E
B C D E
C D E
D E
E

In [215]:
for i in range (0,5):
    for j in range(0,i+1):
        print(' ',end=" ")
    for k in range (i,5):
        print(chr(65+k),end=" ")
    print()

  A B C D E
    B C D E
      C D E
        D E
          E

In [216]:
for i in range(5):
    for j in range(i,5):
        print(' ',end=' ')
    for k in range(0,i+1):
        print(chr(65+k),end=' ')
    for l in range(0,i):
        print(chr(65+l),end=' ')
    print()

          A
        A B A
      A B C A B
    A B C D A B C
  A B C D E A B C D

In [58]:
for i in range(0,5):
    for j in range(i,5):
        print(" ",end=" ")
    for k in range(0,i+1):
        print(chr(65+k),end=" ")
    for l in range(0,i):
        print(chr(65+l),end=" ")
    print()

          A
        A B A
      A B C A B
    A B C D A B C
  A B C D E A B C D

In [ ]:
for i in range(0,5):
    for j in range(i,5):
        print(" ")

In [217]:
for i in range(0,5):
    for j in range(0,10):
        if(j>=2-i and j<=3+i):
            print(chr(65+j),end=' ')
        else:
            print(" ",end=" ")
    print()

    C D
  B C D E
A B C D E F
A B C D E F G
A B C D E F G H

In [218]:
for i in range(0,5):
    for j in range(0,8):
        if (j>=5-i and j<=3+i):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *

In [219]:
for i in range(0,5):
    for j in range(0,i+1):
        print(chr(65+j),end=' ')
    print()

A
A B
A B C
A B C D
A B C D E

In [220]:
for i in range(0,5):
    for j in range(i,5):
        print(chr(65+j),end=" ")
    print()

A B C D E
B C D E
C D E
D E
E

In [221]:
for i in range(0,5):
    for j in range(5-i):
        print(chr(65+j),end=" ")
    print()

A B C D E
A B C D
A B C
A B
A

In [201]:
for i in range(0,5):
    for j in range(i,5):
        print(" ",end=" ")
    for k in range(0,i+1):
        print(chr(65+k),end=" ")
    print()

          A
        A B
      A B C
    A B C D
  A B C D E

In [223]:
for i in range(0,5):
    for j in range(i,5):
        print(" ",end=" ")
    for k in range(0,i+1):
        print(chr(65+k),end=" ")
    print()

          A
        A B
      A B C
    A B C D
  A B C D E

In [222]:
for i in range(0,5):
    for j in range(i,5):
        if (j>=5-i,j<=3+i):
            print(chr(65+j),end=" ")
        else:
            print(" ",end=" ")
    print()

A B C D E
B C D E
C D E
D E
E

In [224]:
for i in range(0,5):
    for j in range(i,5):
        print(" ",end=" ")
    for k in range(0,i+1):
        print(chr(65+k),end=" ")
    for l in range(0,i):
        print(chr(65+l),end=" ")
    print()

          A
        A B A
      A B C A B
    A B C D A B C
  A B C D E A B C D

In [225]:
for i in range(0,5):
    for j in range(0,i+1):
        print(" ",end=" ")
    for k in range(i,5):
        print(chr(65+k),end=" ")
    print()

  A B C D E
    B C D E
      C D E
        D E
          E

In [226]:
for i in range(0,5):
    for j in range(5-i):
        print(chr(65+j),end=" ")
    print()

A B C D E
A B C D
A B C
A B
A

In [227]:
for i in range(0,5):
    for j in range(5-i+1):
        print(chr(65+j),end=" ")
    print()

A B C D E F
A B C D E
A B C D
A B C
A B

In [228]:
for i in range(0,5):
    for j in range(i+1):
        print(int(1+j),end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [229]:
for i in range(0,10):
    for j in range(0,i):
        if (j>=10-i):
            print(chr(65+j),end=" ")
    print()

E F
D E F G
C D E F G H
B C D E F G H I

In [230]:
for i in range(0,5):
    for j in range(i+1):
        print(" ",end=" ")
    for k in range(i,5):
        print("*",end=" ")
    for l in range(i,5-1):
        print("*",end=" ")
    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [231]:
for i in range(0,5):
    for j in range(i+1):
        print("*",end=" ")
    for k in range(i,5):
        print(" ",end=" ")
    for l in range(i,5):
        print("*",end=" ")
    print()

*           * * * * *
* *         * * * *
* * *       * * *
* * * *     * *
* * * * *   *

In [234]:
for i in range(0,5):
    for j in range(i+1):
        print(" ",end=" ")
    for k in range(i,5):
        print("*",end=" ")
    for l in range(i,5-1):
        print("*",end=" ")
    
    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [233]:
rows_or_colums = 5
for i in range(0,rows_or_colums):
    spaces = rows_or_colums-i
    for j in range(spaces):
        print(' ',end = ' ')
    for k in range(2*i+1):
        print('*',end = ' ')
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [235]:
alphabets = 65
for row in range(1,5):
    spaces = 5 - row
    for space in range(spaces):
        print(" ",end="")
    for character in range(row):
        print(chr(alphabets),end=" ")
        alphabets+=1
    print()

    A
   B C
  D E F
 G H I J

In [236]:
ord("A")

65

In [ ]:
chr(65)

In [237]:
for row in range(0,6):
    for col in range(row+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [238]:
for row in range(0,6):
    for col in range(row,5):
        print(" ",end=" ")
    for row in range(row+1):
        print("*",end=" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *
* * * * * *

In [239]:
for row in range(0,6):
    space=row-5
    for space in range(spaces):
        print(" ",end=" ")
    for col in range(row+1):
        print("*",end=" ")
    print()

  *
  * *
  * * *
  * * * *
  * * * * *
  * * * * * *

In [240]:
def filt(user_input,rows_or_colums):
    for i in range(0,5):
        for j in range(0,i+1):
            print("*",end=" ")
        print()    
user_input= int(input("please enter the number"))
rows_or_colums =input("rows or colums?")

filt(user_input,rows_or_colums)

please enter the number5
rows or colums?rows
*
* *
* * *
* * * *
* * * * *

In [241]:
def filt(user_input,rows_or_colums):
    for i in range(0,5):
        for j in range(5-i):
            print("*",end=" ")
        print()
user_input = int(input("please enter the number"))
rows_or_columms = input("rows or colums?")

filt(user_input,rows_or_colums)

please enter the number5
rows or colums?rows
* * * * *
* * * *
* * *
* *
*

In [242]:
def filt(user_input,rows_or_colums):
    for i in range(0,5):
        for j in range(i,5):
            print(" ",end=" ")
        for k in range(0,i+1):
            print("*",end=" ")
        print()
user_input =int(input("please enter the number"))
rows_or_colums = input("rows or colums?")
filt(user_input,rows_or_colums)

please enter the number5
rows or colums?rows
          *
        * *
      * * *
    * * * *
  * * * * *

In [243]:
def filt(user_input,rows_or_colums):
    for i in range(0,5):
        for j in range(0,i+1):
            print(" ",end=" ")
        for k in range(i,5):
            print("*",end=" ")
        print()
user_input= int(input("please enter the number"))
rows_or_colums =input("rows or colums?")
filt(user_input,rows_or_colums)

please enter the number5
rows or colums?rows
  * * * * *
    * * * *
      * * *
        * *
          *

In [244]:
def filt(rows_or_colums):
    for i in range(0,rows_or_colums):
        spaces = rows_or_colums-i
        for j in range(spaces):
            print(' ',end = ' ')
        for k in range (2*i+1):
            print('*',end = ' ')
        print()
rows_or_colums = int(input("rows or colums?"))
filt(rows_or_colums)

rows or colums?5
          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [187]:
filter(function,iterable_object)
map(function,iterable_object)
import functool

NameError: name 'iterable_object' is not defined

In [190]:
# num = list(range(1,21))

In [262]:
even_num = list(filter(lambda x : x%2==0,num))

TypeError: 'list' object is not callable

In [245]:
even_num

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [246]:
num= list(range(1,20))

TypeError: 'list' object is not callable

In [ ]:
odd_num = list(filter(lambda x: x%2!=0,num))

In [ ]:
odd_num

In [248]:
num = list(range(1,21))
even_num = list(filter(lambda x : x%2==0,num))
print(even_num)

TypeError: 'list' object is not callable

In [249]:
def function():
        num = list(range(1,30))
        even_num =list(filter(lambda x: x%2==0,num))
print(even_num)
function()

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

TypeError: 'list' object is not callable

In [266]:
def function():
    num = list(range(1,20))
    odd_num = list(filter(lambda x: x%2!=0,num))
print(odd_num)
function()

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

TypeError: 'list' object is not callable

In [252]:
def function():
    num = list(range(1,40))
    even_num =list(filter)

In [253]:
def function():
    num =list(range)

In [254]:
random = [chr(i) for i in range(65,91)]

In [255]:
random_map = list(map(lambda x : x + "C",random))

TypeError: 'list' object is not callable

In [ ]:
random_map

In [ ]:
num = list(range(1,21))

In [ ]:
odd_num =list(filter(lambda x: x%2!=0,num))

In [ ]:
odd_num

In [ ]:
random =[chr(i)for i in range(65,91)]

In [ ]:
random_map = list(map(lambda x : x + "E",random ))

In [ ]:
random_map

In [200]:
random =[i for i in range(0,10)]
random_map = list(map(lambda x : x-3 ,random))
print(random_map)

TypeError: 'list' object is not callable

In [ ]:
random_map

In [ ]:
num=[1,23,24,58]

In [4]:
import functools
list=[1,23,52,44]
print(functools.reduce(lambda a, b: a+b, list))

120

In [5]:
import functools
list=[23,24,25]
print(functools.reduce(lambda a,b: a*b,list ))

13800

In [196]:
import functools
take_list =[20,40,60,70]
print(functools.reduce(lambda a,b: a/2,take_list))

2.5

In [265]:
numbers = (range(1,10))
squared = list(map(lambda num: num ** 2, numbers))

print(squared)

TypeError: 'list' object is not callable

In [ ]:
numbers =list(range(2,30))
Divisible =list(map(lambda num: num/2,numbers))

print(Divisible)

In [ ]:
num = list(range(1,20))
even_num =list(filter(lambda x: x%2==0,num))
print(even_num)

In [ ]:
# num= list(range(1,30))
odd_num = list(filter(lambda x: x%2!=0,num))
print(odd_num)

In [261]:
num= list(range(1,60))
add_num = list(filter(lambda(x: x+=0,num))
print(add_num)

SyntaxError: invalid syntax (1515931787.py, line 2)

In [263]:
random =[chr(i)for i in range(65,91)]

In [264]:
random_map = list(map(lambda x : x + "E",random ))

TypeError: 'list' object is not callable

In [ ]:
random_map = list(map(lambda x: x + "G",random)

In [ ]:
random_map = [chr]

In [267]:
random_map = list(map(lambda x: x + "G",random)

SyntaxError: incomplete input (3737197495.py, line 1)

In [ ]:
random_map

In [ ]:
# def func(x):
#     if x>=3:
#         return x
# y = filter(func, (1,2,3,4))  
# print(y)
# print(list(y))

In [6]:
# def func(x):
#     if x>=15:
#         return x
# y = filter(func(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15))

In [178]:
tup= (5, 7, 22, 97, 54, 62, 77, 23, 73, 61)
newtuple = tuple(map(lambda x: x+3 , tup)) 
print(newtuple)

(8, 10, 25, 100, 57, 65, 80, 26, 76, 64)

In [9]:
take_list =[22,25,26,25,23]
newlist = list(map(lambda x: x+5 ,take_list))
print(newlist)

[27, 30, 31, 30, 28]

In [7]:
take_list = [chr(i)  for i in range(65,91)]
check_list = ["A","E", "I","O","U"]
vowel =[]
consonent =[]
for i in take_list:
  if i in check_list:
     vowel.append(i)
  else :
    consonent.append(i)
print(vowel)
print(consonent)

['A', 'E', 'I', 'O', 'U']
['B', 'C', 'D', 'F', 'G', 'H', 'J', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'V', 'W', 'X', 'Y', 'Z']

In [8]:
take_list = [chr(i) for i in range(65,91)]
check_list = ["A","E","I","O","U"]
vowel =[]
consonent =[]
for i in take_list:
 if i in check_list:
        vowel.append(i)
 else:
    consonent.append(i)
print(vowel)
print(consonent)

['A', 'E', 'I', 'O', 'U']
['B', 'C', 'D', 'F', 'G', 'H', 'J', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'V', 'W', 'X', 'Y', 'Z']

In [8]:
take_list =[chr(i) for i in range(65,91)]
check_list = ["A","E","I","O","U"]
vowel = []
consonent = []
for i in  take_list:
 if i in check_list:
        vowel.append(i)
 else: 
        consonent.append(i)
print(vowel)
print(consonent)

['A', 'E', 'I', 'O', 'U']
['B', 'C', 'D', 'F', 'G', 'H', 'J', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'V', 'W', 'X', 'Y', 'Z']

In [9]:
take_list=[chr(i) for i in range(65,91)]
vowel =[]
consonent =[]
for i in range take_list:

SyntaxError: invalid syntax (231833593.py, line 4)

In [11]:
take_list =[chr(i) for i in range(65,91)]
vowel =[]
consonent =[]
for i in  take_list:
  if i in check_list:
    vowel.append(i)
  else:
    consonent.append(i)
print(vowel)
print(consonent)

['A', 'E', 'I', 'O', 'U']
['B', 'C', 'D', 'F', 'G', 'H', 'J', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'V', 'W', 'X', 'Y', 'Z']