# pandas

In [12]:
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

mynew = pandas.DataFrame(mydataset)

print(mynew)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [8]:
import pandas

mydataset ={
    'place':["indore","bhopal","khandwa"],
    'name':['s','b','a']
}
df = pandas.DataFrame(mydataset)
print(df)

     place name
0   indore    s
1   bhopal    b
2  khandwa    a

In [9]:
import pandas
mydataset ={
    'name':['bhopal','indore','nasik'],
    'place':['a','b','r']
}
df = pandas.DataFrame(mydataset)
print(df)

     name place
0  bhopal     a
1  indore     b
2   nasik     r

# Series

In [6]:
import pandas as pd
a = ["bhawana","sonu","shinde"]
new =pd.Series(a)
print(new)

0    bhawana
1       sonu
2     shinde
dtype: object

In [14]:
import pandas as pd
a =[1,7,3]
new = pd.Series(a)
print(new[1])

7

In [7]:
import pandas as pd
b =[1,7,5,5]
new = pd.Series(b)
print(new)

0    1
1    7
2    5
3    5
dtype: int64

# labels

In [15]:
import pandas as pd

a = [1, 7, 2]

mynew = pd.Series(a, index = ["x", "y", "z"])

print(mynew)

x    1
y    7
z    2
dtype: int64

In [18]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

mynew = pd.Series(calories, index = ["day1", "day2"])

print(mynew)

day1    420
day2    380
dtype: int64

In [19]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

mynew = pd.DataFrame(data)

print(mynew)

   calories  duration
0       420        50
1       380        40
2       390        45

In [11]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data)

print(df.loc[[0, 2]])

   calories  duration
0       420        50
2       390        45

In [ ]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

In [21]:
import pandas as pd
data ={
    "calories":[42,23,25],
    "duration":[1,2,3]
}
df =pd.DataFrame(data,index =["first","second","third"])
print(df)

        calories  duration
first         42         1
second        23         2
third         25         3

In [25]:
import pandas as pd
data ={
    "calories":[12,21,23],
    "duration":[1,2,3]
}
df = pd.DataFrame(data)
print(df.loc[[1,2]])

   calories  duration
1        21         2
2        23         3

In [27]:
import pandas as pd 
data = [1,2,3,4,4]
a =pd.Series(data)
print(a)

0    1
1    2
2    3
3    4
4    4
dtype: int64

In [34]:
import pandas as pd
data1 =[22,25,23]
data2 =[12,22,23]
df = pd.DataFrame(data1, index=["day1","day2","day3"])
print(df)

       0
day1  22
day2  25
day3  23

In [35]:
import pandas as pd
data=[12,23,41]
df =pd.DataFrame(data1)
print(df.loc[[1,2]])

    0
1  25
2  23

In [1]:
import pandas as pd
data =[1,2,3]
A = pd.Series(data)
print(data)

[1, 2, 3]

In [10]:
import pandas as pd
data = {
 'name':["bhawana","sonu","jagtap"],
 'number':[1,2,3]
     }
A= pandas.DataFrame(data)
print(A)

NameError: name 'pandas' is not defined

In [ ]:
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

mynew = pandas.DataFrame(mydataset)

print(mynew)