In [121]:
import pandas as pd
import datetime as dt

In [122]:
df = pd.DataFrame()

In [123]:
df['date']=pd.date_range(start='1/1/2018', end='1/08/2020')

In [124]:
df['time'] = pd.date_range("11:00", "23:17", freq="1min").time

In [125]:
df

          date      time
0   2018-01-01  11:00:00
1   2018-01-02  11:01:00
2   2018-01-03  11:02:00
3   2018-01-04  11:03:00
4   2018-01-05  11:04:00
..         ...       ...
733 2020-01-04  23:13:00
734 2020-01-05  23:14:00
735 2020-01-06  23:15:00
736 2020-01-07  23:16:00
737 2020-01-08  23:17:00

[738 rows x 2 columns]

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 738 entries, 0 to 737
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    738 non-null    datetime64[ns]
 1   time    738 non-null    object
dtypes: datetime64[ns](1), object(1)
memory usage: 11.7+ KB

In [127]:
df.dtypes

date    datetime64[ns]
time            object
dtype: object

In [128]:
df['date'].dt.hour

0      0
1      0
2      0
3      0
4      0
      ..
733    0
734    0
735    0
736    0
737    0
Name: date, Length: 738, dtype: int64

In [129]:
df['date'].dt.minute

0      0
1      0
2      0
3      0
4      0
      ..
733    0
734    0
735    0
736    0
737    0
Name: date, Length: 738, dtype: int64

In [130]:
df['date'].dt.second

0      0
1      0
2      0
3      0
4      0
      ..
733    0
734    0
735    0
736    0
737    0
Name: date, Length: 738, dtype: int64

In [131]:
df['hour']=df['date'].dt.hour
df['minute']=df['date'].dt.minute
df['second']=df['date'].dt.second
df

          date      time  hour  minute  second
0   2018-01-01  11:00:00     0       0       0
1   2018-01-02  11:01:00     0       0       0
2   2018-01-03  11:02:00     0       0       0
3   2018-01-04  11:03:00     0       0       0
4   2018-01-05  11:04:00     0       0       0
..         ...       ...   ...     ...     ...
733 2020-01-04  23:13:00     0       0       0
734 2020-01-05  23:14:00     0       0       0
735 2020-01-06  23:15:00     0       0       0
736 2020-01-07  23:16:00     0       0       0
737 2020-01-08  23:17:00     0       0       0

[738 rows x 5 columns]

In [132]:
df['date'].dt.time

0      00:00:00
1      00:00:00
2      00:00:00
3      00:00:00
4      00:00:00
         ...
733    00:00:00
734    00:00:00
735    00:00:00
736    00:00:00
737    00:00:00
Name: date, Length: 738, dtype: object

In [133]:
df['date'].dt.time

0      00:00:00
1      00:00:00
2      00:00:00
3      00:00:00
4      00:00:00
         ...
733    00:00:00
734    00:00:00
735    00:00:00
736    00:00:00
737    00:00:00
Name: date, Length: 738, dtype: object

In [134]:
df['date']

0     2018-01-01
1     2018-01-02
2     2018-01-03
3     2018-01-04
4     2018-01-05
         ...
733   2020-01-04
734   2020-01-05
735   2020-01-06
736   2020-01-07
737   2020-01-08
Name: date, Length: 738, dtype: datetime64[ns]

In [135]:
df['time']

0      11:00:00
1      11:01:00
2      11:02:00
3      11:03:00
4      11:04:00
         ...
733    23:13:00
734    23:14:00
735    23:15:00
736    23:16:00
737    23:17:00
Name: time, Length: 738, dtype: object

In [136]:
df['date'].dt.year

0      2018
1      2018
2      2018
3      2018
4      2018
       ...
733    2020
734    2020
735    2020
736    2020
737    2020
Name: date, Length: 738, dtype: int64

In [137]:
df['date'].dt.month

0      1
1      1
2      1
3      1
4      1
      ..
733    1
734    1
735    1
736    1
737    1
Name: date, Length: 738, dtype: int64

In [138]:
df['date'].dt.day

0      1
1      2
2      3
3      4
4      5
      ..
733    4
734    5
735    6
736    7
737    8
Name: date, Length: 738, dtype: int64

# create new colunms for date,day,month

In [139]:
df['year']=df['date'].dt.year
df['month']=df['date'].dt.month
df['day']=df['date'].dt.day
df

          date      time  hour  minute  second  year  month  day
0   2018-01-01  11:00:00     0       0       0  2018      1    1
1   2018-01-02  11:01:00     0       0       0  2018      1    2
2   2018-01-03  11:02:00     0       0       0  2018      1    3
3   2018-01-04  11:03:00     0       0       0  2018      1    4
4   2018-01-05  11:04:00     0       0       0  2018      1    5
..         ...       ...   ...     ...     ...   ...    ...  ...
733 2020-01-04  23:13:00     0       0       0  2020      1    4
734 2020-01-05  23:14:00     0       0       0  2020      1    5
735 2020-01-06  23:15:00     0       0       0  2020      1    6
736 2020-01-07  23:16:00     0       0       0  2020      1    7
737 2020-01-08  23:17:00     0       0       0  2020      1    8

[738 rows x 8 columns]

In [140]:
df['date'].dt.minute

0      0
1      0
2      0
3      0
4      0
      ..
733    0
734    0
735    0
736    0
737    0
Name: date, Length: 738, dtype: int64

In [141]:
df['date'].dt.hour

0      0
1      0
2      0
3      0
4      0
      ..
733    0
734    0
735    0
736    0
737    0
Name: date, Length: 738, dtype: int64

In [142]:
df['date'].dt.minute

0      0
1      0
2      0
3      0
4      0
      ..
733    0
734    0
735    0
736    0
737    0
Name: date, Length: 738, dtype: int64

In [143]:
df['date'].dt.second

0      0
1      0
2      0
3      0
4      0
      ..
733    0
734    0
735    0
736    0
737    0
Name: date, Length: 738, dtype: int64

In [144]:
df['hour'] = df['time'].apply(lambda x : x.hour)
df['minute'] = df['time'].apply(lambda x : x.minute)
df['second'] = df['time'].apply(lambda x : x.second)
df

          date      time  hour  minute  second  year  month  day
0   2018-01-01  11:00:00    11       0       0  2018      1    1
1   2018-01-02  11:01:00    11       1       0  2018      1    2
2   2018-01-03  11:02:00    11       2       0  2018      1    3
3   2018-01-04  11:03:00    11       3       0  2018      1    4
4   2018-01-05  11:04:00    11       4       0  2018      1    5
..         ...       ...   ...     ...     ...   ...    ...  ...
733 2020-01-04  23:13:00    23      13       0  2020      1    4
734 2020-01-05  23:14:00    23      14       0  2020      1    5
735 2020-01-06  23:15:00    23      15       0  2020      1    6
736 2020-01-07  23:16:00    23      16       0  2020      1    7
737 2020-01-08  23:17:00    23      17       0  2020      1    8

[738 rows x 8 columns]

In [145]:
df['time'] = pd.date_range("11:00", "23:17", freq="1min").time

In [146]:
df

          date      time  hour  minute  second  year  month  day
0   2018-01-01  11:00:00    11       0       0  2018      1    1
1   2018-01-02  11:01:00    11       1       0  2018      1    2
2   2018-01-03  11:02:00    11       2       0  2018      1    3
3   2018-01-04  11:03:00    11       3       0  2018      1    4
4   2018-01-05  11:04:00    11       4       0  2018      1    5
..         ...       ...   ...     ...     ...   ...    ...  ...
733 2020-01-04  23:13:00    23      13       0  2020      1    4
734 2020-01-05  23:14:00    23      14       0  2020      1    5
735 2020-01-06  23:15:00    23      15       0  2020      1    6
736 2020-01-07  23:16:00    23      16       0  2020      1    7
737 2020-01-08  23:17:00    23      17       0  2020      1    8

[738 rows x 8 columns]

In [147]:
df['date'] = pd.to_datetime(df['date'], format='%d-%m-%y %I-%p')

In [148]:
df['date']

0     2018-01-01
1     2018-01-02
2     2018-01-03
3     2018-01-04
4     2018-01-05
         ...
733   2020-01-04
734   2020-01-05
735   2020-01-06
736   2020-01-07
737   2020-01-08
Name: date, Length: 738, dtype: datetime64[ns]

In [149]:
df['date']= (df['time'].apply(lambda x : x.hour),format='%I-%p')

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (179692795.py, line 1)

In [150]:
df

          date      time  hour  minute  second  year  month  day
0   2018-01-01  11:00:00    11       0       0  2018      1    1
1   2018-01-02  11:01:00    11       1       0  2018      1    2
2   2018-01-03  11:02:00    11       2       0  2018      1    3
3   2018-01-04  11:03:00    11       3       0  2018      1    4
4   2018-01-05  11:04:00    11       4       0  2018      1    5
..         ...       ...   ...     ...     ...   ...    ...  ...
733 2020-01-04  23:13:00    23      13       0  2020      1    4
734 2020-01-05  23:14:00    23      14       0  2020      1    5
735 2020-01-06  23:15:00    23      15       0  2020      1    6
736 2020-01-07  23:16:00    23      16       0  2020      1    7
737 2020-01-08  23:17:00    23      17       0  2020      1    8

[738 rows x 8 columns]

In [151]:
df['time'] = lambda x:x.hours.strptime(x, ' %I-%p')

In [152]:
df['time']

0      <function <lambda> at 0x000002B14F21C670>
1      <function <lambda> at 0x000002B14F21C670>
2      <function <lambda> at 0x000002B14F21C670>
3      <function <lambda> at 0x000002B14F21C670>
4      <function <lambda> at 0x000002B14F21C670>
                         ...
733    <function <lambda> at 0x000002B14F21C670>
734    <function <lambda> at 0x000002B14F21C670>
735    <function <lambda> at 0x000002B14F21C670>
736    <function <lambda> at 0x000002B14F21C670>
737    <function <lambda> at 0x000002B14F21C670>
Name: time, Length: 738, dtype: object

In [153]:
df['time'] = lambda x:x.hours.strptime(['time']).dt.strftime('%H:%M:%S')

In [154]:
df['time']

0      <function <lambda> at 0x000002B14F21C310>
1      <function <lambda> at 0x000002B14F21C310>
2      <function <lambda> at 0x000002B14F21C310>
3      <function <lambda> at 0x000002B14F21C310>
4      <function <lambda> at 0x000002B14F21C310>
                         ...
733    <function <lambda> at 0x000002B14F21C310>
734    <function <lambda> at 0x000002B14F21C310>
735    <function <lambda> at 0x000002B14F21C310>
736    <function <lambda> at 0x000002B14F21C310>
737    <function <lambda> at 0x000002B14F21C310>
Name: time, Length: 738, dtype: object

In [155]:
df['hour'] = df['time'].apply(lambda x : x.hour)

AttributeError: 'function' object has no attribute 'hour'

In [156]:
df['hour'] = df['time'].apply(lambda x : x.hour)

AttributeError: 'function' object has no attribute 'hour'

In [4]:
age1=int(input("your age1 : "))
age2=int(input("your age2 : "))
def Rules():
    if age1 >= 17 and age2 <= 65:
        print("you can drive")
    else:
        print("you are underage")
    Rules()

your age1 : 17
your age2 : 25