In [3]:
def func():
    pass
func()

In [180]:
def filt(user_input,even_or_odd):
    take_list = list(range(user_input+1))
    output_list = []
    if even_or_odd == "even":  
        for i in take_list:
            if i % 2 == 0:
                output_list.append(i)
        print(output_list)
    elif even_or_odd == "odd":
        for  i in take_list:
            if i % 2 != 0:
                output_list.append(i)
    
        print(output_list)

    else:
        return "you have given wrong input"
                
 
user_input = int(input("Please enter a number"))
even_or_odd = input("even or odd?")
filt(user_input,even_or_odd)

Please enter a number10
even or odd?even
[0, 2, 4, 6, 8, 10]

In [60]:
def filt(even_or_odd):
    take_list = list(range(1,50))
    output_list =[]
    if even_or_odd == "even":
        for i in take_list:
            if i % 2 == 0:
                output_list.append(i)
        print(output_list)
    elif even_or_odd == "odd":
        for i in take_list:
            if i %2 != 0:
                output_list.append(i)
        print(output_list)  
    else:
        return "you have given wrong input"
    
# user_input = int(input("Please enter a number"))
even_or_odd = input("even or odd?")
filt(even_or_odd)

even or odd?even
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [96]:

take_list = [i for i in range(0,100)]
even =[]
odd =[]
for i in range (0,100):
  if i%2==0:
    even.append(i)
  else:
    odd.append(i)
print(even)
print(odd)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [31]:

take_list = [i for i in range(0,10)]
check_list =[2,4,6,8,10]
even= []
odd=[]
for i in range (0,10):
    if i in check_list:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)

[2, 4, 6, 8]
[0, 1, 3, 5, 7, 9]

In [34]:

username = input("your age :")
print("my age is: " + username)

username = input("enter the even number")
print("even number is:"+username)

username = input("enter the odd number")
print("even number is :"+username)

your age :20
my age is: 20
enter the even number28
even number is:28
enter the odd number23
even number is :23

In [35]:
take_list = [chr(i)  for i in range(65,91)]
check_list = ["A","E", "I","O","U"]
vowel =[]
consonent =[]
for i in take_list:
  if i in check_list:
     vowel.append(i)
  else :
    consonent.append(i)
print(vowel)
print(consonent)

['A', 'E', 'I', 'O', 'U']
['B', 'C', 'D', 'F', 'G', 'H', 'J', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'V', 'W', 'X', 'Y', 'Z']

In [ ]:
take_list = [chr(i)for i in range(65,91)]
check_list =

In [123]:
take_list=[i for i in range(0,10)]
even=[]
odd=[]
for i in range (0,10):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [64]:
def function(a,b):
   
    sum=a+b
    print(sum)
function(1,2)

3

In [111]:
def filt (user_input,even_or_odd):
    take_list =list(range(1,user_input+1))
    output_list =[]
    if even_or_odd =="even":
        for i in take_list:
            if i%2 == 0:
                 output_list.append(i)
        print(output_list)
    elif even_or_odd =="odd":
        for i in take_list:
            if i%2 != 0:
                 output_list.append(i)
        print(output_list)
    
    else:
        return "you given wrong input"
    
user_input = int(input("Please enter a number"))
even_or_odd = input("even or odd?")
filt(user_input,even_or_odd)

Please enter a number60
even or odd?even
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60]

In [118]:
def filt (user_input,even_or_odd):
    take_list = list(range(1,user_input+1))
    output_list= []
    if even_or_odd =="even":
        for i in take_list:
            if i%2 == 0:
                output_list.append(i)
    elif even_or_odd =="odd":
        for i in take_list:
            if i%2 != 0:
                output_list.append(i)
    else:
        return "you have wrong input"
user_input= int(input("please enter the number"))
even_or_odd = input("even or odd?")
filt(user_input,even_or_odd)

please enter the number50
even or odd?even

In [113]:
for i in range(5):
    for j in range(0,i-1):
        print("*",end =' ')
    print()

*
* *
* * *

In [98]:
n = 5  
for i in range(n):
    for j in range (n-i-1):
        print(' ',end =' ')
    for k in range (1*i+1):
        print(' * ',end =' ')
    print()

         *
       *   *
     *   *   *
   *   *   *   *
 *   *   *   *   *

In [90]:
for row in range(0,5):
    for col in range(5,row-1):
        print(' ',end = ' ')
    for row in range(1*row+1):
        print('*',end = ' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [111]:
for row in range(0,5):
    for col in range(5,row-1):
        print('*',end =' ')
    for row in range(1*row+1):
        print(' ',end =' ')
    print()

In [159]:
def filt(rows_or_colums):
    for i in range(0,rows_or_colums):
        spaces = rows_or_colums-i
        for j in range(spaces):
            print(' ',end = ' ')
        for k in range (2*i+1):
            print('*',end = ' ')
        print()
rows_or_colums = int(input("rows or colums?"))
filt(rows_or_colums)

rows or colums?5
          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [23]:
for row in range(1,6):
    for col in range(0,row):
        print(row,end=" ")
    print("")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [35]:
def mirror_pattern(n):
    for row in range(1,n):
        space = n - row
        for col in range(space):
            print(" ",end=" ")
        for i in range(row):
            print("*",end=" ") 
        print("")
        
mirror_pattern(8)

              *
            * *
          * * *
        * * * *
      * * * * *
    * * * * * *
  * * * * * * *

In [61]:
for row in range(1,9):
    for col in range(0,row):
        print(row,end =" ")
    print("")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8

In [44]:
for row in range(0,10):
    for col in range(0,row):
        print(row,end = " ")
    print("")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [74]:
for row in range(1,5):
    for col in range(1,row):
        print(row,end = " ")
    print("")

2
3 3
4 4 4

In [53]:
for row in range (0,5):
    for col in range(0,row):
        print("*",end=" ")
    print("")

*
* *
* * *
* * * *

In [144]:
for i in range(5):
    for j in range(0,i+1):
        print("*",end =" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [219]:
for i in range(0,5):
    for j in range(i,5):
        print(" ",end=" ")
    for k in range(0,i+1):
        print("*",end=" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [248]:
for i in range(0,6):
    for j in range(0,i):
        if (j>=6-i):
            print("*",end="")
        else:
            print(" ",end="")
    print()

  **
 ****

In [217]:
for i in range(0,5):
    for j in range(0,5):
        if (j>=5-i):
            print(" ",end=" ")
        else:
            print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [175]:
for i in range(5):
    for j in range(i,5):
        print(' ',end=' ')
    for k in range(0,i+1):
        print("*",end=' ')
    for l in range(0,i):
        print('*',end=' ')
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [13]:
for i in range(5):
    for j in range(i,5):
        print(" ",end= " ")
    for k in range (0,i+1):
        print("*",end= " ")
    for l in range (0,i):
        print("*",end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [179]:
for i in range(5):
    for j in range(i,5):
        print(' ',end='')
    for k in range(i):
        print('*',end=' ')
    for l in range(i+1):
        print('*',end=" ")
    print()

     *
    * * *
   * * * * *
  * * * * * * *
 * * * * * * * * *

In [152]:
for i in range(5):
    for j in range(i,5):
        print(' ',end="")
    for k in range(i+1):
        print('*',end='')
    print()

     *
    **
   ***
  ****
 *****

In [127]:
for i in range (5):
    for j in range(i-5-1):
        print(' ',end=' ')
    for k in range(5-i+1):
        print("*",end=' ')
    print()

* * * * * *
* * * * *
* * * *
* * *
* *

In [85]:
for i in range(5):
    for j in range(0,i+1):
        print(' ',end='')
    for k in range(i,5-1):
        print('*',end='')
    print()

 ****
  ***
   **
    *

In [80]:
for row in range(0,5):
    for col in range(0,row):
        print(row,end='')
    print()

1
22
333
4444

In [82]:
for col in range(0,5):
    for row in range(0,col):
        print("*",end='')
    print()

*
**
***
****

In [94]:
for row in range(0,15):
    for col in range(0,row):
        print("*",end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * * *

In [ ]:
for row in range(0,5):
    for row in range

In [183]:
for i in range(1,9):
    for j in range(i):
        print(i,end="")
    print()

1
22
333
4444
55555
666666
7777777
88888888

In [186]:
for i in range(0,5):
    for j in range(0,i+1):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [188]:
for i in range(0,5):
    for j in range(0,5-i):
        print('*',end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [227]:
for i in range (0,5):
    for j in range (i,5):
        print("* ",end="")
    print()

* * * * *
* * * *
* * *
* *
*

In [75]:
for i in range(0,5):
    for j in range(0,5):
        if (j>=5-i):
            print(" ",end=" ")
        else:
            print(" *",end=" ")
    print()

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [145]:
for i in range (5):
    for j in range (i,5):
        print("1",end=" ")
    for k in range (i+1):
        print("*",end=" ")
    print()

1 1 1 1 1 *
1 1 1 1 * *
1 1 1 * * *
1 1 * * * *
1 * * * * *

In [199]:
for i in range (0,5):
    for j in range (5-i-1):
        print(" ",end=" ")
    for k in range (0,i+1):
        print("*",end=" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [151]:

for i in range (0,5):
    for j in range(0,i+1):
        print(' ',end=" ")
    for k in range (i,5):
        print("*",end=" ")
    
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [79]:
for i in range(0,5):
    for j in range(i,5):
        print("o",end= " ")
    for j in range (i+1):
        print("*",end= " ")
    for l in range (i):
        print("*",end=" ")
    print()

o o o o o *
o o o o * * *
o o o * * * * *
o o * * * * * * *
o * * * * * * * * *

In [ ]:
for i in range(0,5):
    for j in range(i,5):
        print("",end= " ")
    for j in range (i+1):
        print("*",end= " ")
    for l in range (i):
        print("*",end=" ")
    print()

In [160]:
for i in range (0,5):
    for j in range (0,i+1):
        print(chr(65+j),end=" ")
    print()

A
A B
A B C
A B C D
A B C D E

In [159]:
for i in range (0,5):
    for j in range (i,5):
        print(" ",end=" ")
    for k in range (0,i+1):
        print(chr(65+k),end=" ")
    print()

          A
        A B
      A B C
    A B C D
  A B C D E

In [170]:
for i in range(0,5):
    for j in range(i,5):
        print(chr(65+j),end=" ")
    print()

A B C D E
B C D E
C D E
D E
E

In [174]:
for i in range (0,5):
    for j in range(0,i+1):
        print(' ',end=" ")
    for k in range (i,5):
        print(chr(65+k),end=" ")
    print()

  A B C D E
    B C D E
      C D E
        D E
          E

In [178]:
for i in range(5):
    for j in range(i,5):
        print(' ',end=' ')
    for k in range(0,i+1):
        print(chr(65+k),end=' ')
    for l in range(0,i):
        print(chr(65+l),end=' ')
    print()

          A
        A B A
      A B C A B
    A B C D A B C
  A B C D E A B C D

In [279]:
for i in range(0,5):
    for j in range(0,10):
        if(j>=2-i and j<=3+i):
            print(chr(65+j),end=' ')
        else:
            print(" ",end=" ")
    print()

    C D
  B C D E
A B C D E F
A B C D E F G
A B C D E F G H

In [270]:
for i in range(0,5):
    for j in range(0,8):
        if (j>=5-i and j<=3+i):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *

In [73]:
for i in range(0,5):
    for j in range(0,i+1):
        print(chr(65+j),end=' ')
    print()

A
A B
A B C
A B C D
A B C D E

In [47]:
for i in range(0,5):
    for j in range(i,5):
        print(chr(65+j),end=" ")
    print()

A B C D E
B C D E
C D E
D E
E

In [53]:
for i in range(0,5):
    for j in range(5-i):
        print(chr(65+j),end=" ")
    print()

A B C D E
A B C D
A B C
A B
A

In [56]:
for i in range(0,5):
    for j in range(i,5):
        print(" ",end=" ")
    for k in range(0,i+1):
        print(chr(65+k),end=" ")
    print()

          A
        A B
      A B C
    A B C D
  A B C D E

In [5]:
for i in range(0,5):
    for j in range(i,5):
        print(" ",end=" ")
    for k in range(0,i+1):
        print(chr(65+k),end=" ")
    print()

          A
        A B
      A B C
    A B C D
  A B C D E

In [14]:
for i in range(0,5):
    for j in range(i,5):
        if (j>=5-i,j<=3+i):
            print(chr(65+j),end=" ")
        else:
            print(" ",end=" ")
    print()

A B C D E
B C D E
C D E
D E
E

In [18]:
for i in range(0,5):
    for j in range(i,5):
        print(" ",end=" ")
    for k in range(0,i+1):
        print(chr(65+k),end=" ")
    for l in range(0,i):
        print(chr(65+l),end=" ")
    print()

          A
        A B A
      A B C A B
    A B C D A B C
  A B C D E A B C D

In [21]:
for i in range(0,5):
    for j in range(0,i+1):
        print(" ",end=" ")
    for k in range(i,5):
        print(chr(65+k),end=" ")
    print()

  A B C D E
    B C D E
      C D E
        D E
          E

In [26]:
for i in range(0,5):
    for j in range(5-i):
        print(chr(65+j),end=" ")
    print()

A B C D E
A B C D
A B C
A B
A

In [31]:
for i in range(0,5):
    for j in range(5-i+1):
        print(chr(65+j),end=" ")
    print()

A B C D E F
A B C D E
A B C D
A B C
A B

In [39]:
for i in range(0,5):
    for j in range(i+1):
        print(int(1+j),end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [97]:
for i in range(0,10):
    for j in range(0,i):
        if (j>=10-i):
            print(chr(65+j),end=" ")
    print()

E F
D E F G
C D E F G H
B C D E F G H I

In [116]:
for i in range(0,5):
    for j in range(i+1):
        print(" ",end=" ")
    for k in range(i,5):
        print("*",end=" ")
    for l in range(i,5-1):
        print("*",end=" ")
    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [118]:
for i in range(0,5):
    for j in range(i+1):
        print("*",end=" ")
    for k in range(i,5):
        print(" ",end=" ")
    for l in range(i,5):
        print("*",end=" ")
    print()

*           * * * * *
* *         * * * *
* * *       * * *
* * * *     * *
* * * * *   *

In [120]:
for i in range(0,5):
    for j in range(i+1):
        print(" ",end=" ")
    for k in range(i,5):
        print("*",end=" ")
    for l in range(i,5-1):
        print("*",end=" ")

  * * * * * * * * *   * * * * * * * * *
    * * * * * * *     * * * * * * *
      * * * * *       * * * * *
        * * *         * * *
          *           *

In [160]:
rows_or_colums = 5
for i in range(0,rows_or_colums):
    spaces = rows_or_colums-i
    for j in range(spaces):
        print(' ',end = ' ')
    for k in range(2*i+1):
        print('*',end = ' ')
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [176]:
alphabets = 65
for row in range(1,5):
    spaces = 5 - row
    for space in range(spaces):
        print(" ",end="")
    for character in range(row):
        print(chr(alphabets),end=" ")
        alphabets+=1
    print()

    A
   B C
  D E F
 G H I J

In [171]:
ord("A")

65

In [172]:
chr(65)

'A'

In [181]:
for row in range(0,6):
    for col in range(row+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [186]:
for row in range(0,6):
    for col in range(row,5):
        print(" ",end=" ")
    for row in range(row+1):
        print("*",end=" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *
* * * * * *

In [213]:
for row in range(0,6):
    space=row-5
    for space in range(spaces):
        print(" ",end=" ")
    for col in range(row+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [14]:
def filt(user_input,rows_or_colums):
    for i in range(0,5):
        for j in range(0,i+1):
            print("*",end=" ")
        print()    
user_input= int(input("please enter the number"))
rows_or_colums =input("rows or colums?")

filt(user_input,rows_or_colums)

please enter the number5
rows or colums?rows
*
* *
* * *
* * * *
* * * * *

In [24]:
def filt(user_input,rows_or_colums):
    for i in range(0,5):
        for j in range(5-i):
            print("*",end=" ")
        print()
user_input = int(input("please enter the number"))
rows_or_columms = input("rows or colums?")

filt(user_input,rows_or_colums)

please enter the number5
rows or colums?rows
* * * * *
* * * *
* * *
* *
*

In [17]:
def filt(user_input,rows_or_colums):
    for i in range(0,5):
        for j in range(i,5):
            print(" ",end=" ")
        for k in range(0,i+1):
            print("*",end=" ")
        print()
user_input =int(input("please enter the number"))
rows_or_colums = input("rows or colums?")
filt(user_input,rows_or_colums)

please enter the number5
rows or colums?rows
          *
        * *
      * * *
    * * * *
  * * * * *

In [18]:
def filt(user_input,rows_or_colums):
    for i in range(0,5):
        for j in range(0,i+1):
            print(" ",end=" ")
        for k in range(i,5):
            print("*",end=" ")
        print()
user_input= int(input("please enter the number"))
rows_or_colums =input("rows or colums?")
filt(user_input,rows_or_colums)

please enter the number5
rows or colums?rows
  * * * * *
    * * * *
      * * *
        * *
          *

In [205]:
def filt(rows_or_colums):
    for i in range(0,rows_or_colums):
        spaces = rows_or_colums-i
        for j in range(spaces):
            print(' ',end = ' ')
        for k in range (2*i+1):
            print('*',end = ' ')
        print()
rows_or_colums = int(input("rows or colums?"))
filt(rows_or_colums)

rows or colums?5
          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [ ]:
filter(function,iterable_object)
map(function,iterable_object)
import functool

In [1]:
num = list(range(1,21))

In [3]:
even_num = list(filter(lambda x : x%2==0,num))

In [4]:
even_num

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [100]:
num= list(range(1,20))

In [104]:
odd_num = list(filter(lambda x: x%2!=0,num))

In [105]:
odd_num

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [106]:
num = list(range(1,30))

In [108]:
addition = list(filter(lambda x: x+=0,num)

SyntaxError: invalid syntax (1390320128.py, line 1)

In [32]:
num = list(range(1,21))
even_num = list(filter(lambda x : x%2==0,num))
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [30]:
def function():
        num = list(range(1,30))
        even_num =list(filter(lambda x: x%2==0,num))
print(even_num)
function()

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [74]:
def function():
    num = list(range(1,20))
    odd_num = list(filter(lambda x: x%2!=0,num))
print(odd_num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [ ]:
def function():
    num = list(range(1,40))
    even_num =list(filter)

In [ ]:
def function():
    num =list(range)

In [7]:
random = [chr(i) for i in range(65,91)]

In [10]:
random_map = list(map(lambda x : x + "C",random))

In [11]:
random_map

['AC',
 'BC',
 'CC',
 'DC',
 'EC',
 'FC',
 'GC',
 'HC',
 'IC',
 'JC',
 'KC',
 'LC',
 'MC',
 'NC',
 'OC',
 'PC',
 'QC',
 'RC',
 'SC',
 'TC',
 'UC',
 'VC',
 'WC',
 'XC',
 'YC',
 'ZC']

In [12]:
num = list(range(1,21))

In [13]:
odd_num =list(filter(lambda x: x%2!=0,num))

In [14]:
odd_num

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [145]:
random =[chr(i)for i in range(65,91)]

In [15]:
random_map = list(map(lambda x : x + "E",random ))

In [80]:
random_map

['AE',
 'BE',
 'CE',
 'DE',
 'EE',
 'FE',
 'GE',
 'HE',
 'IE',
 'JE',
 'KE',
 'LE',
 'ME',
 'NE',
 'OE',
 'PE',
 'QE',
 'RE',
 'SE',
 'TE',
 'UE',
 'VE',
 'WE',
 'XE',
 'YE',
 'ZE']

In [137]:
random =[int(i) for i in range(0,10)]
random_map = list(map(lambda x : x-3 ,random))
print(random_map)

[-3, -2, -1, 0, 1, 2, 3, 4, 5, 6]

In [ ]:
random_map

In [83]:
num=[1,23,24,58]

In [94]:
import functools
list=[1,23,52,44]
print(functools.reduce(lambda a, b: a+b, list))

120

In [130]:
import functools
list=[23,24,25]
print(functools.reduce(lambda a,b: a*b,list ))

13800

In [150]:
import functools
list =[20,40,60,70]
print(functools.reduce(lambda a,b: a/2,list))

2.5

In [6]:
numbers =list(range(1,10))

squared=list(map(lambda num: num ** 2, numbers))

print(squared)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [99]:
numbers =list(range(2,30))
Divisible =list(map(lambda num: num/2,numbers))

print(Divisible)

[1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0, 10.5, 11.0, 11.5, 12.0, 12.5, 13.0, 13.5, 14.0, 14.5]

In [42]:
num = list(range(1,20))
even_num =list(filter(lambda x: x%2==0,num))
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [82]:
# num= list(range(1,30))
odd_num = list(filter(lambda x: x%2!=0,num))
print(odd_num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [77]:
num= list(range(1,60))
add_num = list(filter(lambda(x: x+=0,num))
print(add_num)

SyntaxError: invalid syntax (1515931787.py, line 2)

In [ ]:
random =[chr(i)for i in range(65,91)]

In [48]:
random_map = list(map(lambda x : x + "E",random ))

In [50]:
random_map = list(map(lambda x: x + "G",random)

['AG', 'BG', 'CG', 'DG', 'EG', 'FG', 'GG', 'HG', 'IG', 'JG', 'KG', 'LG', 'MG', 'NG', 'OG', 'PG', 'QG', 'RG', 'SG', 'TG', 'UG', 'VG', 'WG', 'XG', 'YG', 'ZG']

In [ ]:
random_map = [chr]

In [ ]:
random_map = list(map(lambda x: x + "G",random)

In [51]:
random_map

['AG',
 'BG',
 'CG',
 'DG',
 'EG',
 'FG',
 'GG',
 'HG',
 'IG',
 'JG',
 'KG',
 'LG',
 'MG',
 'NG',
 'OG',
 'PG',
 'QG',
 'RG',
 'SG',
 'TG',
 'UG',
 'VG',
 'WG',
 'XG',
 'YG',
 'ZG']

In [111]:
alphabets =list(chr(i)for i in range(65,91))
vowels = list(filter(lambda x: x=="vowels",alphabets))
print(vowels)

[]

In [85]:
def function():
    num = list(range(1,30))
    odd_num = list(filter(lambda x: x%2!=0,num))
print(odd_num)
function()

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]